* {
  font-family: serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 60px;
  justify-content: space-evenly;
  padding: 0 10%;
  margin-bottom: 40px;
}

#trybewarts-header-title {
  align-self: center;
  color: white;
  flex: 1 1 auto;
  text-align: center;
  font-size: 230%;
}

.trybewarts-header-logo {
  flex: 0 1 auto;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
}

.trybewarts-login input {
  margin-right: 7px;
}

.main {
  display: flex;
  justify-content: center;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  width: 500px;
}

#evaluation-form h2 {
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 15px;
}

.form-first {
  display: flex;
  flex-direction: column;
}

.name-lastname {
  display: flex;
  margin-bottom: 5px;
}

#input-name {
  margin-right: 10px;
}

#input-email {
  margin-right: 10px;
}

.email-house {
  display: flex;
}

#selected-house-div {
  display: flex;
  align-items: flex-end;
}

.label {
  margin-right: 10px;
}
